<!--
   Created by 陶鹏飞 on 2017/8/2.
-->
<form class="form-horizontal" role="form" name="roleForm" ng-submit="ctrl.submit()">
    <!-- 模态框header -->
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
            <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">新增角色</h4>
    </div>

    <!-- 模态框body -->
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 column">
                <div class="alert alert-danger" ng-show="form.newRole.$error.ensureRoleUnique">
                    <a class="close" data-dismiss="alert">×</a>
                    <strong>
                        Info
                    </strong>这里是信息提示信息
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">角色名称</span>
                    <!--<input type="text" class="form-control" placeholder="请确定输入的角色名称是否已经存在..." id="newRole" ng-model="newRole">-->
                    <input type="text" class="form-control" placeholder="请确定输入的角色名称是否已经存在..." id="newRole" ng-model="newRole"
                           name="newRole" ng-maxlength="20" required if-role>
                    <!--<span class="error" ng-show="form.newRole.$error.ensureRoleUnique">提示：角色已存在！</span>-->
                    <!--<a class="glyphicon glyphicon-remove btn form-control-feedback" style="pointer-events:auto"></a>-->
                    <!--<span  class="glyphicon glyphicon-ok form-control-feedback text-success rigt"></span>-->
                    <!--<span  class="glyphicon glyphicon-remove form-control-feedback text-danger rigt"></span>-->
                    <!--<span class="error" ng-show="registerForm.$submitted && registerForm.mobile.$error.required">*手机号不能为空</span>-->
                    <!--<span class="error" ng-show="registerForm.$submitted && registerForm.mobile.$error.pattern">*手机号地址不合法</span>-->

                </div>
                <span ng-show="roleForm.newRole.$error.ifRole" style="color:red">提示：角色已存在！</span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 column">
                <div class="input-group">
                    <span class="input-group-addon">描述</span>
                    <textarea class="form-control" rows="3" id="newDesc" placeholder="" ng-model="newDesc"></textarea>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框footer -->
    <div class="modal-footer">
        <button type="submit" name="submit" class="btn btn-primary" id="btn_save" ng-click="save()" ng-disabled="!newRole;inputStatus">保存</button>
        <!--
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        -->
    </div>
</form>

