<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="cn.shiyun.dao.RoleMenuDao"> 
    
     <select id="getMenuByRole" parameterType="String" resultType="Map">
     	<if test="_parameter != null and _parameter != ''">
        	select am.authoritie roleName,m.menuid,m.menuname,m.menuUrl,m.pid,m.icon 
        	from authoritie_menus am ,menus m 
        	where am.menuid=m.menuid and am.authoritie=#{_parameter} and m.deletetag =0 
        	order by m.menuid
        </if>
    </select>
    
     <select id="getMenuNotInRoleMenu" parameterType="String" resultType="Map">
         select menuid,menuname from menus 
         <where> 
     	<if test="_parameter != null and _parameter != ''">
        	menuid not in (select menuid from authoritie_menus where authoritie= #{_parameter}) 
        	and deletetag=0
        </if>
        </where>
    </select>
     
     <insert id="insertRoleMenu" parameterType="String">
     	 insert into authoritie_menus(authoritie,menuid) values
     	 <foreach collection="menuIds" index="index" item="item" separator="," >
     	 (#{roleName},#{item})
     	 </foreach>
    </insert>
     
     <delete id="deleteRoleMenu" parameterType="String">
         delete from authoritie_menus where authoritie=#{roleName} and menuid in
          <foreach collection="menuIds" index="index" item="item" open="(" separator="," close=")">
     	 	#{item}
     	 </foreach>
     </delete>
</mapper> 