<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="cn.shiyun.dao.RoleDao">

    <!--  启用Redis二级缓存机制 -->
    <!--
    <cache type="cn.shiyun.cache.RedisCache" />
    -->
    <resultMap type="Role" id="role"> 
        <result property="roleName" column="AUTHORITY"/> 
        <result property="roleDesc" column="DESCRIPTION"/> 
    </resultMap> 
     
    <select id="loadRoles" resultType="String">
        <![CDATA[
        	select authority from authorities where authority !='Admin'
        ]]>
        
    </select>
    
     <select id="getRolesByName" parameterType="String" resultType="Map">
        	select authority roleName,description roleDesc from authorities
        	<where>
        	    <if test="_parameter != null and _parameter !=''">
        	        authority like '%${_parameter}%'
        	    </if>
        	</where>
        
    </select>
    
     <insert id="addRole" parameterType="Role">
         insert into authorities(authority,description) values(#{roleName},#{roleDesc})
     </insert>
     
     <delete id="delRole" parameterType="String">
         <if test="_parameter != null and _parameter !=''">
             delete from authorities where authority=#{_parameter}
         </if>
     </delete>
    
</mapper> 